<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>VenturX Dashboard</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-svg-round-progressbar/0.4.8/roundProgress.min.js">
    </script>
    <style type="text/css">
        .info-panel {
            border: 2px solid black;
        }

        .inline-input {
            display: inline-block;
            width: 200px;
        }

        .progress-wrapper {
            position: relative;
        }

        .progress-wrapper .text {
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            -webkit-transform: translateY(-50%);
            text-align: center;
            width: 100%;
            z-index: 1;
        }
    </style>
</head>

<body>
    <div ng-app="venturXApp">
        <nav class="navbar navbar-expand-md navbar-light bg-light">
            <a class="navbar-brand" href="#">
                <img src="https://res-2.cloudinary.com/crunchbase-production/image/upload/c_lpad,h_256,w_256,f_auto,q_auto:eco/v1469054846/sy7o8uzfw8potlewdrtm.png"
                    width="30" class="d-inline-block align-top" height="30" alt="">
                VenturX: Prototype
            </a>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Hello, 16@test.com</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Log out</a>
                </li>
        </nav>
        <br />
        <div ng-controller="DashboardController">
            <div class="container" ng-controller="DashboardController">
                <div class="row">
                    <div class="col-md-3">
                        <img src="https://centrik.in/wp-content/uploads/2017/02/user-image-.png" alt="" height="175">
                    </div>
                    <div class="col-md-8 info-panel">
                        <br />
                        <div class="row">
                            <div class="col-md-2">
                                <p class="font-weight-bold">Market</p>
                            </div>
                            <div class="col-md-6">
                                <div ng-show="!editProfileState">{{ market }}</div>
                                <div ng-show="editProfileState" class="input-group mb-3">
                                    <input type="text" ng-enter="editProfile()" class="form-control" ng-model="market"
                                        placeholder="Market" aria-label="Market">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <p class="font-weight-bold">Pain</p>
                            </div>
                            <div class="col-md-6">
                                <div ng-show="!editProfileState">{{ pain }}</div>
                                <div ng-show="editProfileState" class="input-group mb-3">
                                    <input type="text" ng-enter="editProfile()" class="form-control" ng-model="pain"
                                        placeholder="Pain" aria-label="Pain">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <p class="font-weight-bold">Benefit</p>
                            </div>
                            <div class="col-md-6">
                                <div ng-show="!editProfileState">{{ benefit }}</div>
                                <div ng-show="editProfileState" class="input-group mb-3">
                                    <input type="text" ng-enter="editProfile()" class="form-control" ng-model="benefit"
                                        placeholder="Benefit" aria-label="Benefit">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <button type="button" ng-click="editProfile()" class="btn btn-light"> <span
                                        ng-show="!editProfileState ">Edit profile</span><span
                                        ng-show="editProfileState ">Confirm</span></button>
                            </div>
                        </div>
                    </div>
                </div>

                <h3 class="text-center mt-5 mb-5">
                    How is <span ng-show="!editNameState" class="font-weight-bold">{{ nameApp }}</span><input
                        type="text" class="form-control inline-input" name="nameApp" id="nameApp"
                        ng-show="editNameState" ng-enter="editName()" ng-model="nameApp" placeholder="Name"
                        aria-label="Name">
                    <i ng-click="editName()" set-focus="nameApp" class="text-primary fas fa-pen"></i>
                    doing today
                    ? <a href="#" class="text-decoration-none"><small class="text-muted"> Check dashboard</small></a>
                </h3>
                <div class="row text-center mb-5">
                    <div class="progress-wrapper col-md-3">
                        <round-progress max="gauges.product.max" current="gauges.product.current" color="#ff8900"
                            stroke="10" rounded="true" clockwise="true" responsive="false" duration="800"
                            animation="easeInOutQuart" animation-delay="0">
                        </round-progress>
                        <div class="text text-center">
                            <h2>{{ gauges.product.current }}<small class="text-muted">%</small></h2>
                            Product
                        </div>
                    </div>
                    <div class="progress-wrapper col-md-3">
                        <round-progress max="gauges.runway.max" current="gauges.runway.current" color="#ff3f00"
                            stroke="10" rounded="true" clockwise="true" responsive="false" duration="800"
                            animation="easeInOutQuart" animation-delay="0">
                        </round-progress>
                        <div class="text text-center">
                            <h2>{{ gauges.runway.current }} <small class="text-muted">months</small></h2>
                            Runway
                        </div>
                    </div>
                    <div class="progress-wrapper col-md-3">
                        <round-progress max="gauges.conversion.max" current="gauges.conversion.current" color="#ff8900"
                            stroke="10" rounded="true" clockwise="true" responsive="false" duration="800"
                            animation="easeInOutQuart" animation-delay="0">
                        </round-progress>
                        <div class="text text-center">
                            <h2>{{ gauges.conversion.current }}<small class="text-muted">%</small></h2>
                            Conversion
                        </div>
                    </div>
                    <div class="progress-wrapper col-md-3">
                        <round-progress max="gauges.engagement.max" current="gauges.engagement.current" color="#00ff00"
                            stroke="10" rounded="true" clockwise="true" responsive="false" duration="800"
                            animation="easeInOutQuart" animation-delay="0">
                        </round-progress>
                        <div class="text text-center">
                            <h2>{{ gauges.engagement.current }}<small class="text-muted">%</small></h2>
                            Engagement
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="alert alert-danger" ng-show="gauges.product.current < 50" role="alert">
                    <strong>Low Product score ? Try this</strong> to get more...
                </div>
                <div class="alert alert-warning" ng-show="gauges.conversion.current < 50" role="alert">
                    <strong>Small conversion ?</strong> Learn what you can do to <strong>rise your
                        conversion</strong>
                </div>
            </div>
        </div>

        <script type="text/javascript">
            var venturXApp = angular.module('venturXApp', ['angular-svg-round-progressbar']);
            venturXApp.directive('ngEnter',
                function () {
                    return function (scope, element, attrs) {
                        element.bind("keydown keypress", function (event) {
                            if (event.which === 13) {
                                scope.$apply(function () {
                                    scope.$eval(attrs.ngEnter, {
                                        'event': event
                                    });
                                });

                                event.preventDefault();
                            }
                        });
                    };
                });

            venturXApp.controller('DashboardController', function DashboardController($scope) {
                $scope.editProfileState = false;
                $scope.nameApp = "VenturX";
                $scope.market = "Fill in who are your customers ?";
                $scope.pain = "What is the pain statement that you are trying to solve for them ?";
                $scope.benefit = "What is the benefit that will match that pain statement ?";
                $scope.gauges = {
                    product: {
                        current: 27,
                        max: 100
                    },
                    runway: {
                        current: 3,
                        max: 24
                    },
                    conversion: {
                        current: 24,
                        max: 100
                    },
                    engagement: {
                        current: 100,
                        max: 100
                    }
                };
                $scope.editNameState = false;

                $scope.editName = function () {
                    $scope.editNameState = !$scope.editNameState;
                };
                $scope.editProfile = function () {
                    $scope.editProfileState = !$scope.editProfileState;
                };
            });
        </script>
    </div>
</body>

</html>